<>
  <h1 class="headline">Simon ROLLAND</h1>
  <p class="underline">
    I'm a <strong>Chief Technology Officer</strong>.<br />
    I <strong>imagine</strong>, <strong>create</strong> and <strong>run</strong> new things everyday.
  </p>
</>

<style>
  .headline {
    font-size: 1.7rem;
    color: var(--primary-color);
    font-weight: 300;
  }

  .underline {
    font-size: 1.125rem;
    color: var(--text-color);
  }

  @media (min-width: 576px) {
    .headline {
      font-size: 2.5rem;
    }

    .underline {
      font-size: 1.5rem;
    }
  }
</style>
