---
import "../styles/colors.css";
import "../styles/fonts.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Simon ROLLAND - Chief Technology Officer (CTO)" />
    <meta
      name="description"
      content="My name is Simon ROLLAND. I'm a CTO from Paris - France."
    />
    <meta name="application-name" content="Simon ROLLAND" />
    <meta name="theme-color" content="#rgb(243, 150, 110)" />
    <meta name="apple-mobile-web-app-title" content="Simon ROLLAND" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="robots" content="index, follow" />

    <title>Filipe Santos Correa - Front-End Engineer</title>
    <link rel="canonical" href="https://sim07.github.io" />
    <link rel="manifest" href="manifest.json" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    font-family: "Open Sans", sans-serif;
  }

  body {
    margin: 0;
  }
</style>
